IndentWidth: 4
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
# ReflowComments: false
RemoveBracesLLVM: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
IndentCaseLabels: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
BreakStringLiterals: false
