IndentWidth: 4
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
# ReflowComments: false
RemoveBracesLLVM: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
IndentCaseLabels: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
BreakStringLiterals: false
